div img {
    height: 3.5rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

.menu_list {
    list-style: none;
    margin-top: 2.8rem;
    padding-top: 1rem;

}

.menu_list li {
    display: inline-block;
    margin-left: 1rem;
}

.menu_list li a {
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
}