.filme_lista {
  overflow-x: scroll;
  list-style: none;
  white-space: nowrap;
  /* Esconder scrollbar do FireFox */
  scrollbar-width: none;
  margin-top: -1.3rem;
  height: 350px;
  padding: 20px 0;
  display: block;
  border: 1px solid transparent;
}

section {
  margin-bottom: -100px;
  position: relative;
}

section:hover {
  z-index: 9;
}
/* Esconder scrollbar do Google */
.filme_lista::-webkit-scrollbar {
  display: none;
}
